<div class="ourproposal-container anim-fade">
  <article id="first-tab-intro" class="ourproposal-intro main-intro">
    <p>Nuestra estrategia pone a su disposición herramientas de alto valor para el logro de sus objetivos financieros y de inversión.</p>
  </article>
  <article id="second-tab-intro" class="ourproposal-gold main-intro hidden">
    <h1>Portafolios Gold+</h1>
    <p>Usted solo necesita elegir entre nuestros cinco Portafolios Estratégicos Gold+, aquel que mejor se adapte a su perfil y horizonte de inversión. Lo demás queda en nuestras manos.</p>
  </article>
  <header class="graph-header">
    <div class="graph-header-left selected" id="our-proposal-tab-left">¿Qué hay detrás de nuestra estrategia?
    </div><div class="graph-header-right" id="our-proposal-tab-right">Portafolios Gold +</div>
  </header>
  <div class="first-tab tab selected" id="first-tab">
    <figure class="proposal-graph">
      <img class="anim-left" src="images/npropuesta-grafica.png" alt="Nuestra estrategia">
      <figcaption class="anim-left">Un estudio, manejo y diversificación de su portafolio por 
  personal  y especialistas altamente calificados.</figcaption>
    
    <a class="main-button anim-right" href="1-2_diversificacion-portafolios.html">Ver diversificación<br /> de portafolios</a>
    </figure>
    <aside class="left-bottom-note anim-left">*CIRA (Análisis e Investigación Citi) </aside>
  </div>
  <div class="second-tab tab " id="second-tab">
    
    <div id="piechart0" class="ourproposal-pie"></div>
    <div id="piechart1" class="ourproposal-pie"></div>
    <div id="piechart2" class="ourproposal-pie"></div>
    <div id="piechart3" class="ourproposal-pie"></div>
    <div id="piechart4" class="ourproposal-pie"></div>
    
  </div>
</div>