<div class="portfolios-diversification anim-fade">
	<article class="main-intro anim-fade">
	    <h1>Diversificación de portafolios</h1>
	    <p>Usted podrá disminuir la volatilidad del mercado con rendimientos consistentes, amortizando grandes caídas en ciertos activos.</p>
	</article>
	<div class="portfolios-annual-revenue anim-fade">
		<h2>Rendimientos anuales</h2>

		<table class="portfolios-revenue-list anim-fade" cellspacing="0" cellpadding="0">
			<tr>
				<th>2006</th>
				<th>2007</th>
				<th>2008</th>
				<th>2009</th>
				<th>2010</th>
				<th>2011</th>
				<th>2012</th>
				<th>2013</th>
				<th>2014</th>
				<th>2015</th>
				<th>Acumulado</th>
				<th>Acum.Pond<br />Anual</th>
			</tr>
			<tr>
				<td class="t-blocal">51.04%</td>
				<td class="t-bemergent">37.86%</td>
				<td class="t-dollar">25.46%</td>
				<td class="t-bemergent">64.22%</td>
				<td class="t-blocal">21.61%</td>
				<td class="t-dollar">12.93%</td>
				<td class="t-blocal">19.71%</td>
				<td class="t-bglobal">25.75%</td>
				<td class="t-bglobal">15.84%</td>
				<td class="t-dollar">16.65%</td>
				<td class="t-blocal">187.73%</td>
				<td class="t-blocal">10.98%</td>
			</tr>
			<tr>
				<td class="t-bemergent">31.65%</td>
				<td class="t-commodities">12.21%</td>
				<td class="t-ltdebt">9.21%</td>
				<td class="t-blocal">46.17%</td>
				<td class="t-ltdebt">12.31%</td>
				<td class="t-ltdebt">9.72%</td>
				<td class="t-treal">17.36%</td>
				<td class="t-stdebt">3.94%</td>
				<td class="t-dollar">13.15%</td>
				<td class="t-bglobal">13.90%</td>
				<td class="t-ltdebt">128.14%</td>
				<td class="t-ltdebt">8.47%</td>
			</tr>
			<tr>
				<td class="t-bglobal">20.21%</td>
				<td class="t-blocal">14.17%</td>
				<td class="t-stdebt">8.18%</td>
				<td class="t-diversification">20.54%</td>
				<td class="t-treal">11.01%</td>
				<td class="t-treal">8.14%</td>
				<td class="t-ltdebt">13.11%</td>
				<td class="t-diversification">1.99%</td>
				<td class="t-treal">11.07%</td>
				<td class="t-ltdebt">4.40%</td>
				<td class="t-treal">121.97%</td>
				<td class="t-treal">8.17%</td>
			</tr>
			<tr>
				<td class="t-diversification">17.44%</td>
				<td class="t-diversification">11.76%</td>
				<td class="t-treal">7.03%</td>
				<td class="t-bglobal">19.50%</td>
				<td class="t-commodities">10.16%</td>
				<td class="t-stdebt">4.47%</td>
				<td class="t-bemergent">6.84%</td>
				<td class="t-dollar">1.43%</td>
				<td class="t-ltdebt">10.38%</td>
				<td class="t-stdebt">3.07%</td>
				<td class="t-bglobal">115.17%</td>
				<td class="t-bglobal">7.84%</td>
			</tr>
			<tr>
				<td class="t-treal">15.93%</td>
				<td class="t-treal">8.73%</td>
				<td class="t-diversification">-7.53%</td>
				<td class="t-treal">11.90%</td>
				<td class="t-bemergent">9.87%</td>
				<td class="t-bglobal">4.20%</td>
				<td class="t-diversification">6.30%</td>
				<td class="t-ltdebt">1.13%</td>
				<td class="t-bemergent">7.34%</td>
				<td class="t-diversification">2.88%</td>
				<td class="t-diversification">92.37%</td>
				<td class="t-diversification">6.66%</td>
			</tr>
			<tr>
				<td class="t-ltdebt">12.61%</td>
				<td class="t-bglobal">8.17%</td>
				<td class="t-commodities">-19.30%</td>
				<td class="t-commodities">11.72%</td>
				<td class="t-diversification">8.40%</td>
				<td class="t-diversification">3.10%</td>
				<td class="t-bglobal">5.01%</td>
				<td class="t-blocal">-0.02%</td>
				<td class="t-diversification">7.03%</td>
				<td class="t-blocal">1.46%</td>
				<td class="t-bemergent">82.96%</td>
				<td class="t-bemergent">6.13%</td>
			</tr>
			<tr>
				<td class="t-stdebt">7.36%</td>
				<td class="t-stdebt">7.50%</td>
				<td class="t-blocal">-22.53%</td>
				<td class="t-ltdebt">9.23%</td>
				<td class="t-stdebt">4.54%</td>
				<td class="t-commodities">-2.29%</td>
				<td class="t-stdebt">4.40%</td>
				<td class="t-treal">-3.71%</td>
				<td class="t-stdebt">3.11%</td>
				<td class="t-treal">-1.89%</td>
				<td class="t-stdebt">66.51%</td>
				<td class="t-stdebt">5.17%</td>
			</tr>
			<tr>
				<td class="t-dollar">1.58%</td>
				<td class="t-ltdebt">4.56%</td>
				<td class="t-bglobal">-26.26%</td>
				<td class="t-stdebt">5.88%</td>
				<td class="t-bglobal">3.42%</td>
				<td class="t-blocal">-2.16%</td>
				<td class="t-dollar">-7.77%</td>
				<td class="t-treal">-4.24%</td>
				<td class="t-blocal">1.99%</td>
				<td class="t-bemergent">-2.75%</td>
				<td class="t-dollar">61.80%</td>
				<td class="t-dollar">4.86%</td>
			</tr>
			<tr>
				<td class="t-commodities">-0.85%</td>
				<td class="t-dollar">0.88%</td>
				<td class="t-bemergent">-42.04%</td>
				<td class="t-dollar">-4.26%</td>
				<td class="t-dollar">-5.74%</td>
				<td class="t-bemergent">-10.23%</td>
				<td class="t-commodities">-8.28%</td>
				<td class="t-commodities">-8.37%</td>
				<td class="t-commodities">-6.62%</td>
				<td class="t-commodities">-11.81%</td>
				<td class="t-commodities">-25.29%</td>
				<td class="t-commodities">-2.83%</td>
			</tr>
		</table>
		<aside class="diversification-labels">
			<span class="anim-left l-blocal">Bolsa local
			</span><span class="anim-left l-diversification">Diversificado
			</span><span class="anim-right l-stdebt">Deuda a corto plazo
			</span><span class="anim-left l-bemergent">Bolsa emergente
			</span><span class="anim-left l-treal">Tasa real
			</span><span class="anim-right l-dollar">Dólar
			</span><span class="anim-left l-bglobal">Bolsa global
			</span><span class="anim-left l-ltdebt">Deuda a largo plazo
			</span><span class="anim-right l-commodities">Commodities</span>
		</aside>
		<button id="diversification-market-btn" class="main-button anim-right">Ver información<br />de mercados</button>
		<aside id="diversification-market-info" class="diversification-market-info">
			<button class="close-btn"><img src="images/close-small-btn.png" alt="Cerrar" /></button>
			<p>El valor de las acciones de Sociedades o Fondos de Inversión conlleva un riesgo de mercado incluyendo una posible minusvalía del capital invertido. Estos productos no están garantizados por Banamex/Accival o por alguna entidad integrante del Grupo Financiero Banamex o Citigroup, ni por ninguna entidad gubernamental</p>
			<p>No existe ninguna garantía de que se cumplan las previsiones o las opiniones expresadas en este material.</p>
			<p>La información contenida en este material, no deberá interpretarse como asesoramiento de inversión.</p>
		</aside>
	</div>

</div>

