<div class="panorama-container anim-fade">
  <article class="ourproposal-intro main-intro">
    <p>El mercado global y local cambian según los comportamiento dentro de la economía, conozca los factores positivos y negativos que los afectan en la actualidad.</p>
  </article>
  
  <header class="graph-header">
    <div id="panorama-tab-left-tab" class="graph-header-left selected">Mercado Local
    </div><div class="graph-header-right" id="panorama-tab-right-tab">Mercado Global</div>
  </header>
  <div class="first-tab panorama-local-market tab selected" id="panorama-tab-left">
    <div class="panorama-column-small anim-left">
      <h2>Presentamos lo más relevante del mercado internacional</h2>
      <h2>Positivo:</h2>
      <ul>
        <li>El desempleo y la informalidad en México registraron descensos durante abril, la tasa de desocupación bajó a 4.3%.</li>
        <li>Se esperan las elecciones en México el 7 de junio</li>
        <li>México y Brasil firmaron varios acuerdos de cooperación para facilitar inversiones, así como en servicios aéreos, pesca y acuicultura, turismo, agricultura tropical y desarrollo sustentable.</li>
      </ul>
      <h2>Negativo:</h2>
      <ul>
        <li>Volatilidad en los mercados debido a las políticas monetarias divergentes y a la expectativa del curso de acción de la Fed.</li>
        <li>Los ingresos petroleros de México sufrieron un desplome de 43.7% entre enero y abril de este año, derivado de una caída en los precios y una menor producción.</li>
      </ul>
    </div>
    <div class="panorama-column-big">
      <div class="panorama-chart-labels">
        <p>12 meses</p>
        <p>YTD</p>
      </div>
      <div id="d-barchart1"></div>
      <aside class="panorama-caption">Fuente: Análisis Accival,Bloomberg al 29/06/15. No existe ninguna garantía de que se cumplan las previsiones o las opiniones expresadas en este material. Rendimientos en moneda local. Rendimientos pasados, no garantizan desempeños futuros.</aside>
      <a class="main-button anim-right" href="1-5_simulador.html">Simular su inversión</a>
    </div>
    
  </div>
  <div class="second-tab tab panorama-global-market" id="panorama-tab-right">
    <div class="panorama-column-small anim-left">
      <h2>Presentamos lo más relevante del mercado internacional</h2>
      <h2>Positivo:</h2>
      <ul>
        <li>La atención para quienes tratan de pronosticar cuándo será que la Fed inicie el ciclo de alza de tasas, se centra en el dato de nóminas de Estados Unidos.</li>
        <li>Se espera una reunión de Política Monetaria del BCE el 3 de junio.</li>
        <li>En Japón, la economía está en una tendencia de recuperación moderada, parece que el gasto del consumidor está mostrando signos de recuperación.</li>
      </ul>
      <h2>Negativos:</h2>
      <ul>
        <li>Incertidumbre por la resolución de las negociaciones de refinanciamiento de deuda de Grecia.</li>
        <li>La economía de Estados Unidos se contrae 0.7% anual en el trimestre, debido a un mayor déficit comercial y una baja de inventarios, además de un fuerte declive de las inversiones en el sector energético.</li>
      </ul>
    </div>
    <div class="panorama-column-big">
      <div class="panorama-chart-labels">
        <p>12 meses</p>
        <p>YTD</p>
      </div>
      <div id="d-barchart2"></div>
      <aside class="panorama-caption">Fuente: Análisis Accival,Bloomberg al 29/06/15. No existe ninguna garantía de que se cumplan las previsiones o las opiniones expresadas en este material. Rendimientos en moneda local. Rendimientos pasados, no garantizan desempeños futuros.</aside>
      <a class="main-button anim-right" href="1-5_simulador.html">Simular su inversión</a>

    </div>
    
    
    
  </div>
</div>