<div id="patrimonial-swipecontainer" class="swipecontainer credit">
	<ul class="swipeul">

<li class="patrimonialc-container patrimonialc2 market-v anim-fade dragend-page">
	<div class="market-v-intro anim-fade">
		<h1>Crédito patrimonial</h1>
		
	</div>
	<div class="half-column bordered anim-left">
	<h2>¿Qué es el producto?</h2>
	<p>Es una línea de crédito respaldada mediante la garantía de  sus inversiones, éstas pueden ser:</p>
	<ul class="patrimonialc-list">
		<li>Portafolios de sociedades de inversión.</li>
		<li>Emisoras bursátiles.</li>
		<li>Otros valores</li>
	</ul>
	<h2>¿Para quién es el producto?</h2>
		
		<ul class="patrimonialc-list">
			<li>Para persona física (mexicano o extranjero con FM3).</li>
			<li>Mayor de 18 años.</li>
			<li>Con inversión de Banca Patrimonial / Banca Privada Banamex.</li>
		</ul>
	
	</div><div class="half-column anim-right">
		<h2>¿Para qué sirve?</h2>
		<ul class="patrimonialc-list">
			<li>Liquidez para proyectos personales y/o negocios.</li>
			<li>Mantener sus inversiones (cumplir con el horizonte de inversión).</li>
		</ul>
		<h2>¿Cómo se obtiene?</h2>
		<ul class="patrimonialc-list">
			<li>A través de su banquero / promotor.</li>
			<li>El banquero / promotor le requerirá la documentación necesaria.</li>
			<li>El banco dictaminará y evaluará la solicitud de crédito.</li>
			<li>El banquero / promotor le informará el resultado de la evaluación y en su caso le informará los términos con que se le autorizó el crédito.</li>
			<li>Se formaliza y dispone mediante la firma de contratos y pagaré(s).</li>
			<li>Los recursos de crédito se depositan en su chequera.</li>
		</ul>
	</div>
	
</li>
<li class="patrimonialc-container patrimonialc2-2 market-v anim-fade dragend-page">
	
	<table class="patrimonialc-structures">
		<tr>
			<th colspan="4">Estructuras</th>
		</tr>
		<tr>
			<td class="bordered" colspan="2">Crédito simple</td>
			<td colspan="2">Crédito revolvente</td>
		</tr>
		<tr>
			<td>Plazo</td>
			<td>1 a 3 años</td>
			<td>Plazo</td>
			<td>1 a 3 años</td>
		</tr>
		<tr>
			<td>Monto</td>
			<td>$2 a $150 mdp</td>
			<td>Monto</td>
			<td>$2 a $150 mdp</td>
		</tr>
		<tr>
			<td>Periodicidad de pago de capital</td>
			<td>Mensual, bimestral o trimestral</td>
			<td>Periodicidad de pago de capital</td>
			<td>Pagos de capital + intereses<br/>al vencimiento de cada pagaré<br/>de disposición</td>
		</tr>
		<tr>
			<td>Periodicidad de pago de capital</td>
			<td>Mensual</td>
			<td rowspan="2">Disposición</td>
			<td rowspan="2">Varias disposiciones a plazos máximos de 90 días por cada disposición</td>
		</tr>
		<tr>
			<td>Disposición</td>
			<td>Una sola o varias</td>
		</tr>
	</table>
	<h2>Garantías*</h2>
	<ul class="patrimonialc-list">
		<li>Mercado de valores México.</li>
		<li>Bonos (Cetes, Bonos M y Udibonos).</li>
		<li>SIC (Sistema Nacional de Cotizaciones).</li>
		<li>Sociedad de inversión (deuda, renta variable, cobertura).</li>
	</ul>
	
	

	</li>
	<li class="patrimonialc-container patrimonialc3 market-v anim-fade dragend-page">
	
	<div class="half-column anim-left">
	<h2>Principales atributos</h2>
	
	<ul class="patrimonialc-list">
		<li>Obtener recurso sin disponer de sus inversiones.</li>
		<li>Cumplir oportunamente con compromisos financieros.</li>
		<li>Conservar patrimonio, evitando descapitalización.</li>
		<li>Contratar atractivas tasas de interés.</li>
		<li>Programar un calendario de pagos.</li>
		<li>Aprovechar oportunidades de mercado.</li>
		<li>No necesita comprobar el destino del crédito.</li>
	</ul>
	<aside class="bottom-asterisk-notes">
		<h2>Para mayor información contacte a su Banquero/Promotor</h2>
		<p>*De acuerdo a aforos autorizados por el área de riesgos.</p>
		<p>**El crédito está sujeto a aprobación del Comité de Crédito Banamex; buen historial crediticio y establecimiento de garantías.</p>
	</aside>
	
	</div><div class="half-column anim-right">
		<h2>Comisiones</h2>
		<ul class="patrimonialc-list">
			<li>Por apertura: 1% del monto solicitado. Único pago exigible en la fecha de disposición.</li>
			<li>Por pago anticipado: Puede existir y se cotiza por evento.</li>
		</ul>
		<h2>Tasa de interés promedio: 7% (tasa informativa).</h2>
		
	</div>

	
	</li>
</ul>
</div>
<nav id="patrimonialc-dotnav" class="dot-nav">
	  		<a href="#" class="dot-button dot-1 selected">•</a><a href="#" class="dot-button dot-2">•</a><a href="#" class="dot-button dot-3">•</a>
	  	</nav>