<div class="market-d anim-fade">
	<div class="market-v-intro anim-fade">
		<h1>Mercado de Dinero<sup>1</sup></h1>
		<h2>Instrumentos de inversión que pueden ayudarlo a cumplir sus objetivos.</h2>
	</div>

	<article class="market-d-text anim-left">
		<p>Le ofrecemos acceso a una amplia oferta de instrumentos de deuda para diversificar su portafolio e invertir en este mercado, acorde a sus objetivos de inversión.</p>
		<p>El Mercado de Dinero ofrece gran variedad de instrumentos a diversos plazos, a través de títulos de deuda emitidos por empresas, instituciones de crédito y gobiernos en moneda nacional y en dólares. Con el apoyo de su Banquero, encontrará oportunidades para lograr sus objetivos de inversión, con tasas fijas o variables y en todo tipo de escenarios, ya sea con tasas a la baja o a la alza.</p>
		<p>Respaldados por nuestra experiencia y un portafolio de productos gubernamentales y corporativos a su medida.</p>
	</article>
	<aside class="market-note anim-fade">
		<sup>1</sup> Los productos de inversión conllevan un riesgo de mercado, incluyendo una posible minusvalía en el capital invertido. Estos productos no están garantizados por Banamex o por alguna entidad integrante del Grupo Financiero Banamex o por Citigroup, ni por ninguna entidad gubernamental, a excepción de los certificados de depósitos o de algunos productos estructurados.





	</aside>
</div>