<article class="v-top proposal-main-text three-two anim-right">
	<h1>Invierta con inteligencia</h1>
	<p>A través de nuestro simulador, usted podrá conocer los posibles resultados de nuestros productos de inversión y diseñar junto con su Banquero un plan de inversión que se adapte a sus objetivos.</p>
	<a class="main-button" href="1-5_simulador.html">Simular su inversión</a>
</article><a class="v-top our-proposal-block1 three-one anim-right" href="1-4_productos-inversion.html">
	<div class="link-content-noback">
		<p>Acceda al Mercado de Valores, Mercado de Dinero, Fondos de Inversión, Planes de Seguros y Crédito Patrimonial.</p>
	    <span class="block-label">Productos de inversión</span>
	</div>
</a><a class="v-bottom our-proposal-block2 anim-right three-one" href="1-1_estrategia-portafolios.html">
	<div class="link-content-noback">
		<p>Cada paso es estudiado, conozca la estrategia con la cual reforzamos su portafolio de inversión.</p>
	    <span class="block-label">Conocer estrategia</span>
	</div>
</a><a class="v-bottom our-proposal-block3 anim-right three-one" href="1-3_panorama.html">
	<div class="link-content-noback">
		<p>El mercado cambia constantemente, conozca los factores que actualmente lo afectan.</p>
	    <span class="block-label">Ver panorama global y local</span>
	</div>
</a><a class="v-bottom our-proposal-block4 anim-right three-one" href="1-2_diversificacion-portafolios.html">
	<div class="link-content-noback">
		<p>Diversificar su inversión permite un balance entre riesgo y rendimiento. Conozca los activos que pueden ser parte de su portafolio de inversión.</p>
	    <span class="block-label">Conocer activos</span>
	</div>
</a>



