<div class="compositionrevenue-container anim-fade">
  <article class="ourproposal-intro main-intro">
    <h1>Gold 2+</h1>
  </article>
  
  <header class="graph-header">
    <div id="compositionrevenue-tab-left-tab" class="graph-header-left selected">Ver composición
    </div><div class="graph-header-right" id="compositionrevenue-tab-right-tab">Ver rendimientos</div>
  </header>
  <div class="first-tab panorama-local-market tab selected" id="compositionrevenue-tab-left">
    <div class="compositionrevenue-halfcolumn">
      <button id="cr-product-btn" class="information-button" href="#">Por producto</button>
      <aside id="cr-product-info" class="diversification-market-info">
        <button class="close-btn"><img src="images/close-small-btn.png" alt="Cerrar" /></button>
        <ul class="crg-labels">
          <li class="cr-bnmdin"><h4>Bnmdin:</h4><p>Invierte en una mezcla de instrumentos de deuda predominantemente de corto plazo en pesos.</p></li>
          <li class="cr-bnmpzo"><h4>Bnmpzo:</h4><p>Invierte en una mezcla de instrumentos de deuda de corto, mediano y largo plazo predominantemente en pesos.</p></li>
          <li class="cr-bnmreal"><h4>Bnmreal:</h4><p>Invierte en una mezcla de instrumentos de deuda de mediano plazo denominados en UDIS.</p></li>
          <li class="cr-bnmipc"><h4>Bnmipc+:</h4><p>Invierte en principalmente en acciones de empresas que forman parte de la muestra del Índice de la Bolsa Mexicana de Valores (IPC), realizando ajustes de corto plazo para aprovechar oportunidades de mercados.</p></li>
          <li class="cr-bnmpat"><h4>Bnmpat:</h4><p>Invierte en una selección de emisoras definidas principalmente a un análisis financiero, operativo y de mercado.</p></li>
          <li class="cr-bnmint1"><h4>Bnmint1:</h4><p>Invierte principalmente en índices de renta variable de mercados desarrollados y emergentes que cotizan en el Sistema Internacional de Cotizaciones.</p></li>
          <li class="cr-bnmem1"><h4>Bnmem1:</h4><p>Invierte principalmente en índices de renta variable de mercados emergentes que cotizan en el Sistema Internacional de Cotizaciones.</p></li>
          <li class="cr-bnmeurv"><h4>Bnmeurv:</h4><p>Invierte principalmente en acciones de empresas del mercado accionario europeo que cotizan en el Sistema Internacional de Cotizaciones.</p></li>
          <li class="cr-bnmuseq"><h4>Bnmuseq:</h4><p>Invierte principalmente en acciones de empresas del mercado accionario estadunidense que cotizan en el Sistema Internacional de Cotizaciones.</p></li>
          <li class="cr-bnmasia"><h4>Bnmasia:</h4><p>Invierte principalmente en acciones/índices de empresas del mercado accionario asiático que cotizan en el Sistema Internacional de Cotizaciones.</p></li>
        </ul>
      </aside>
      <div id="cmg2piechart1"></div>
    
    </div><div class="compositionrevenue-halfcolumn">
      <button id="cr-class-btn" href="#" class="information-button">Por clase de activo</button>
      <aside id="cr-class-info" class="diversification-market-info">
        <button class="close-btn"><img src="images/close-small-btn.png" alt="Cerrar" /></button>
        <ul class="crg-labels">
          <li class="cr-dcp"><h4>Deuda a Corto Plazo (DCP):</h4><p>Pagos con vencimiento no superior a un año.</p></li>
          <li class="cr-dlp"><h4>Deuda a Largo Plazo (DLP):</h4><p>Pagos con vencimiento superior a un año.</p></li>
          <li class="cr-tr"><h4>Tasa Real (TR):</h4><p>Tasa de interés activa por inflación según el deflactor del PIB.</p></li>
          <li class="cr-rvg"><h4>Renta Variable Global (RVG):</h4><p>Activos de renta variable de países desarrollados.</p></li>
          <li class="cr-rvl"><h4>Renta Variable Local (RVL):</h4><p>Activos de renta variable de México.</p></li>
          <li class="cr-rve"><h4>Renta Variable Emergente (RVE):</h4><p>Activos de renta variable de países emergentes.</p></li>
        </ul>
      </aside>
      <div id="cmg2piechart2"></div>
    </div>
    <aside class="panorama-caption">Fuente: Herramientas de análisis Accival y AMIB. Datos al 29 de mayo de 2015. La información contenida en este material, no deberá interpretarse como asesoramiento de inversión.</aside>
  </div>
  <div class="second-tab tab" id="compositionrevenue-tab-right">
    
    <div id="cmg2barchart"></div>
    </div>
    
    
    
  </div>
</div>