<div class="gold2-container anim-fade">
  <article class="gold-description">
    <h1>Gold 3+</h1>
    <p>Invierte en instrumentos de deuda a corto<br />y mediano plazo, papeles sobretasados gubernamentales y privados, con un rendimiento superior al de los instrumentos de corto plazo.</p>
  </article>
 
    <ul class="gold-details">
      <li class="people anim-left">Personas físicas
      </li><li class="qualifications anim-left">Calificación AAA/4
      </li><li class="duration anim-left">Duración<br/><span class="detail-big-number">6</span>MESES
      </li><li class="classification anim-left">Clasificación<br/><span class="padded">Mediano plazo</span>
      </li><li class="availability anim-left">Disponibilidad<br/><span class="detail-big-number">48</span> hrs <br/>en días hábiles correspondientes
      </li><li class="horizon anim-left">Horizonte<br/>de inversión sugerido</li>
    </ul>
     <div class="details anim-left">
    <ul class="gold-extra-details">
      <li>Serie BOC</li>
      <li>Rendimientos pasados no garantizan rendimientos futuros</li>
    </ul>
    <a href="2-3-1_composicion-rendimientosg3.html" class="gold-more-btn">Ver composición y rendimientos<br/></a>
    <a href="1-5_simulador.html" class="main-button">Simula tu inversión</a>
  </div>
</div>