<ul class="profiles">
          <li class="profile conservative anim-left">
            <a href="2-1_portafolios-gold1.html">
              <div class="profile-description">
                <h1>Gold 1+</h1>
                <h2 class="profile-title">Perfil Preservador</h2>
                <p>Ideal para inversionistas que buscan preservar su capital. 
                </p>
                <p class="profile-note">HORIZONTE DE INVERSIÓN:<br>Mayor a un año.</p>
              </div>
            </a>
          </li><li class="profile moderate anim-left">
            <a href="2-2_portafolios-gold2.html">
              <div class="profile-description">
                <h1>Gold 2+</h1>
                <h2 class="profile-title">Perfil Moderado</h2>
                <p>Ideal para inversionistas que buscan combinar liquidez, seguridad y rendimiento. </p>
                <p class="profile-note">HORIZONTE DE INVERSIÓN:<br>Mayor a dos años.</p>
              </div>
            </a>
          </li><li class="profile balance anim-left">
            <a href="2-3_portafolios-gold3.html">
              <div class="profile-description">
                <h1>Gold 3+</h1>
                <h2 class="profile-title">Perfil Balanceado</h2>
                <p>Ideal para inversionistas que buscan crecer 
                de su patrimonio.</p>
                <p class="profile-note">HORIZONTE DE INVERSIÓN:<br>Mayor a tres años.</p>
              </div>
            </a>
          </li><li class="profile growth anim-left">
            <a href="2-4_portafolios-gold4.html">
              <div class="profile-description">
                <h1>Gold 4+</h1>
                <h2 class="profile-title">Perfil Crecimiento</h2>
                <p>Ideal para inversionistas dispuestos a asumir riesgos con mejores rendimientos.</p>
                <p class="profile-note">HORIZONTE DE INVERSIÓN:<br>Mayor a cinco años.</p>
              </div>
            </a>
          </li><li class="profile opportunity anim-left">
            <a href="2-5_portafolios-gold5.html">
              <div class="profile-description">
                <h1>Gold 5+</h1>
                <h2 class="profile-title">Perfil Oportunidad</h2>
                <p>Ideal para inversionistas con una alta tolerancia al riesgo.</p>
                <p class="profile-note">HORIZONTE DE INVERSIÓN:<br>Mayor a cinco años.</p>
              </div>
            </a>
          </li>
        </ul>