<div class="patrimoniale-container anim-fade">
  <article class="gold-description">
    <h1>Experiencia patrimonial</h1>
    <p>La recompensa con regalos exclusivos<br/>por recomendar a sus amigos y familiares,<br/>para que sean parte de Banamex Banca Patrimonial.</p>
  </article>
  <article class="patrimoniale-info anim-left">
    
    <p>Sólo brinde los datos a su banquero y él se pondrá en contacto con ellos.</p>  
    <p>Usted recibirá puntos que podrá canjear por regalos y otras experiencias de nuestro catálogo.</p>
    <p>Consulte sus puntos en:</p>
    <a href="http://www.experienciapatrimonial.com" target="_blank" class="gold-more-btn">www.experienciapatrimonial.com</a>
  </article>   
  <article class="patrimoniale-points">
    <table>
      <tr>
        <th>Concepto</th>
        <th>Puntos</th>
      </tr>
      <tr>
        <td>Bono por la 1er. referencia</td>
        <td>10,000</td>
      </tr>
      <tr>
        <td>1er. referencia que haga contrato</td>
        <td>40,000</td>
      </tr>
      <tr>
        <td>2a a 4a referencia</td>
        <td>60,000</td>
      </tr>
      <tr>
        <td>5a referencia en adelante</td>
        <td>80,000</td>
      </tr>
    </table>
  </article>
</div>