<div class="patrimoniall-container anim-fade">
  <article class="gold-description">
    <h1>Línea Patrimonial</h1>
    <p>Atendemos sus necesidades de trámites y servicios de una manera sencilla y sin contratiempos las 24 horas, los 365 días del año.</p>
  </article>
  
  <ul class="gold-details globala-icon-details">
    <li class="attention anim-left">Atención<br /><span class="padded-small">preferente y solución</span><br/><span class="padded">de aclaraciones</span>
    </li><li class="bancanet anim-left">Asesoría y apoyo<br /><span class="padded-small">de Banca Net</span>
    </li><li class="netkey anim-left">Entrega<br /><span class="padded-small">y reposición</span><br /><span class="padded">de Netkey</span>
    </li><li class="accounts anim-left">Solicitud de Estados<br/><span class="padded-small">de Cuenta de cheques</span><br /><span class="padded">y Tarjetas de Crédito</span>
    </li><li class="plane anim-left">Aviso<br/><span class="padded-small">de viaje</span>
    </li>
  
  </ul>
  <aside class="contact-info">
    <strong class="big-bar-info">Podrás llamar desde</strong> • Cd. de México 2226 3680 • Cualquier parte del país 01 800 827 8000 • E.U.A. y Canadá 1 877 338 3861
  </aside>
</div>