<div class="restaurants-container anim-fade">
	<article class="restaurant-description">
	    <h1>Beneficios en restaurantes exclusivos</h1>
	    <p>Privilegios Banamex le ofrece descuentos permanentes y meses garantizados en los mejores restaurantes.</p>
	    <p>Selecciona tu ciudad
	    	<select id="city-selector" class="main-select">
	    		<option value="cdmx">Ciudad de México</option>
	    		<option value="gdl">Guadalajara</option>
	    		<option value="aca">Acapulco</option>
	    		<option value="mty">Monterrey</option>
	    	</select>
	    </p>
	  </article>
	  <ul id="restaurant-options" class="restaurant-options">
	  	<li class="alfreedo-di-roma anim-left">
	  	</li><li class="au-pied-de-cochon-polanco anim-left">
	  	</li><li class="au-pied-de-cochon-santa-fe anim-left">
	  	</li><li class="bistro-bardot anim-left">
	  	</li><li class="bistro-bardot- anim-left">
	  	</li><li class="bonito-condesa anim-left">
	  	</li><li class="bonito-san-a_ngel anim-right">
	  	</li><li class="cantineta_del_beco anim-right">
	  	</li><li class="chino-latino anim-right">
	  	</li><li class="comensal anim-right">
	  	</li><li class="cortez anim-right">
	  	</li><li class="curry-sultan anim-right">
	  	</li><li class="el_escorial anim-left">
	  	</li><li class="habita-mty anim-left">
	  	</li><li class="jaguar anim-left">
	  	</li><li class="kaah-siis anim-left">
	  	</li><li class="kookaburra anim-left">
	  	</li><li class="la-felix anim-left">
	  	</li><li class="la-loggia anim-right">
	  	</li><li class="la-trainera anim-right">
	  	</li><li class="la-traineradf anim-right">
	  	</li><li class="la-u_nica anim-right">
	  	</li><li class="la-vie-en-rose anim-right">
	  	</li><li class="la_tequila anim-right">
	  	</li><li class="livorno anim-left">
	  	</li><li class="l_osteria_del-becco anim-left">
	  	</li><li class="mexsi-bocu anim-left">
	  	</li><li class="mistral anim-left">
	  	</li><li class="ofelia-bistro anim-left">
	  	</li><li class="olives anim-left">
	  	</li><li class="ol_becco anim-right">
	  	</li><li class="porter anim-right">
	  	</li><li class="santo-mar anim-right">
	  	</li><li class="syrah anim-right">
	  	</li><li class="the-palm-polanco anim-right">
	  	</li><li class="the-palm-santa-fe anim-right">
	  	</li><li class="tonys-asian anim-left">
	  	</li><li class="bistro_estoril anim-left">
	  	</li><li class="estoril anim-left"></li>
</ul>
</div>