<div class="privileges-container anim-fade">
  <article class="gold-description">
    <h1>Privilegios Banamex</h1>
    <p>Disfrute de los servicios exclusivos que le ofrecemos para vivir experiencias únicas.</p>
  </article>
  <ul class="privileges-menu">
  	<li class="presales anim-left"><!--<a href="3-3-1_preventas.html">-->
  		<h2>Pre-ventas</h2>
  		<p>Aparte su lugar, incluso un día antes que las preventas Banamex.</p>
  	<!--</a>-->
  	</li><li class="experiences anim-left"><!--<a href="3-3-3_experiencias.html">-->
  		<h2>Experiencias</h2>
  		<p>Viajes, eventos deportivos y culturales, experiencias gourmet y mucho más.</p>
  	<!--</a>-->
  	</li><li class="restaurants anim-left"><a href="3-3-2_restaurantes.html">
  		<h2>Beneficios con Restaurantes Exclusivos</h2>
  		<p>Descuentos permanentes y mesas garantizadas</p>
  		<a href="3-3-2_restaurantes.html" class="main-button">Ver Restaurantes</a>
  	</a>
  	</li>
  </ul>
  <aside class="contact-info">
  	<strong class="big-bar-info">Atención 24 hrs</strong><strong> • Línea Privilegios</strong> 01 55 5809 4554 y 01 800 000 4554<strong> • Reservaciones</strong> atención@lineaprivilegios.com
  </aside>

</div>