<div class="currency-container anim-fade">
  <article class="gold-description">
    <h1>Divisas</h1>
    <p>Mediante un servicio personalizado, realice todo<br/>tipo de operaciones y transacciones en las principales monedas extranjeras: euro, libra esterlina, yen, dólar canadiense, entre otras.</p>
  </article>
  <article class="currency-info anim-left">
    <h2>Todo en un mismo lugar</h2>
    <ul class="globala-details">
      <li>Tipo de cambio preferencial.</li>
      <li>Seguridad y confianza.</li>
      <li>Liquidaciones automáticas SIN comisiones.</li>
      <li>Excelente tiempo de respuesta.</li>
      <li>Atención de especialistas en mercado cambiario.</li>
    </ul>
    <p>Contacte a su banquero quien le ayudará a satisfacer todas sus necesidades de Divisas, sin comisiones y sin necesidad de eniar fondos a una Casa de Cambio.</p>
    <p>Solicítelo a su banquero.</p>  
  </article>   
</div>