<div class="globala-container anim-fade">
  <article class="gold-description">
    <h1>Acceso Global</h1>
    <p>Ya sea que viaje por negocios o placer, cambie<br/>de residencia por estudio o trabajo, o gestione<br/>negocios internacionales, la red mundial<br/>Citi le ofrece asistencia y servicios exclusivos, como:</p>
  </article>
    <ul class="globala-details">
      <li>Reconocimiento global en su historial crediticio.</li>
      <li>Disponibilidad de efectivo hasta por $10,000 dólares.</li>
      <li>Compra-venta de Divisas con tipo de cambio preferencial y apoyo en transferencias internacionales.</li>
      <li>Disposición de efectivo sin costo en más de 40 países y 20,000 ATM's Citi.</li>
      <li>Acceso a más de 500 oficinas CitiGold en el mundo.</li>
      <li>Asesoría personal.</li>
    </ul>
    <ul class="gold-details globala-icon-details">
      <li class="concierge anim-left">Asistencia<br /><span class="padded-small">de Concierge</span><br/><span class="padded">Internacional</span>
      </li><li class="travel anim-left">Seguros<br /><span class="padded-small">en Viajes</span>
      </li><li class="opening anim-left">Asistencia<br /><span class="padded-small">apertura</span><br /><span class="padded">de cuenta</span>
      </li><li class="locations anim-left">Asistencia<br/><span class="padded-small">en sucursales</span>
      </li>
    
    </ul><aside class="globala-extra-info anim-right">
      Solicite a su banquero para conocer los servicios en cada país.
      <button id="globala-btn" class="legals-btn" href="#">Legales</button>
      <aside id="globala-info" class="diversification-market-info">
        <button class="close-btn"><img src="images/close-small-btn.png" alt="Cerrar" /></button>
        <p>1. Únicamente en caso de cambio de residencia.</p>
        <p>2. Citigold es una marca registrada de Citibank N.A. Banco Nacional de México, S.A. Integrante del Grupo Financiero Banamex.</p>
      </aside>
    </aside>
     
</div>