<div class="patrimonialc-container market-v anim-fade">
	<div class="market-v-intro anim-fade">
		<h1>Crédito patrimonial</h1>
		<p>Disponga de su efectivo sin retirar anticipadamente su patrimonio, mediante una línea de crédito1 con la garantía de sus inversiones que pueden ser:</p>
	</div>

	
	<ul class="patrimonialc-list">
		<li>Acciones de sociedades de inversión</li>
		<li>Acciones de emisoras bursátiles</li>
		<li>Otros valores</li>
	</ul>
	<p>Gracias a este crédito, usted mantiene su capacidad de liquidez, logrando cumplir con el horizonte de inversión que se ha fijado.</p>
	<div class="half-column anim-left">
		<h2>Beneficios</h2>
		<ul class="patrimonialc-list">
			<li>Obtener recursos sin disponer de sus inversiones</li>
			<li>Cumplir oportunamente sus compromisos financieros</li>
			<li>Conservar su patrimonio y evitar descapitalizarse</li>
			<li>Contratar atractivas tasas de interés</li>
			<li>Elegir un calendario de pagos</li>
			<li>Aprovechar nuevas oportunidades de negocio</li>
			<li>No necesita comprobar el destino del crédito</li>
		</ul>
	
	</div><div class="half-column anim-right">
		<h2>Comisiones</h2>
		<ul class="patrimonialc-list">
			<li>Por apertura: 1% del monto solicitado. Único pago exigible en la fecha de la disposición</li>
			<li>Por pago anticipado: Puede existir y se cotiza por evento</li>
		</ul>
		<h2>Solicítelo a su banquero</h2>
	</div>
	<ol class="patrimonialc-note anim-left">
		<li>Sujeto a aprobación del Comité de Crédito de Banamex.</li>
		<li>Calificados previamente por el Banco.</li>
		<li>Tasa de interés promedio: TIIE + 2.60 (tasa informativa).</li>
		<li>Banamex provee las alternativas de pago.</li>
	</ol>
</div>