<div class="mortgage-container anim-fade">
  <article class="gold-description">
    <h1>Crédito hipotecario</h1>
    <p>Con Hipoteca Perfiles, su excelente comportamiento de crédito y el nivel de enganche son reconocidos, permitiéndole acceder a una mejor tasa de interés con beneficios exclusivos:</p>
  </article>
  <article class="currency-info anim-left">
    <ul class="mortgage-details">
      <li>Tasa de interés preferencial desde 8.25% anual fijo.</li>
      <li>Sin comisiones.</li>
      <li>Asesoría de expertos.</li>
    </ul>
    <h2 class="isolated">Además estos beneficios también aplican para sus familiares directos (cónyuge, padres o hijos).</h2>
    <h2>Características</h2>
    <ul class="mortgage-details">
      <li>Enganche 10%.</li>
      <li>Elija el plazo que mejor se adapte a sus necesidades (10, 15 ó 20 años).</li>
      <li>Tasa de interés y mensualidades fijas durante todo el plazo del crédito.</li>
    </ul>
    <h2>Elija el destino del crédito para:</h2>
    <ul class="mortgage-details">
      <li>Comprar una casa nueva o usada.</li>
      <li>Cambiar a Banamex la hipoteca que tenga actualmente con otro banco (los gastos notoriales y el avalúo son sin costo).</li>
    </ul>
    <h2>Puede aprovechar su ahorro Infonavit.</h2>
    <h2>Solicítelo a su banquero.</h2>
    <button id="mortgage-btn" class="legal-link" >Legales</button>
  </article>
  <aside id="mortgage-info" class="diversification-market-info">
    <button class="close-btn"><img src="images/close-small-btn.png" alt="Cerrar" /></button>
    <p>1. Adquisición de Vivienda (Tradicional y Cofinanciados).</p>
<p>2. Cambia tu Hipoteca (Préstamo para refinanciar un crédito hipotecario  de adquisición que tenga en otra institución, Gastos Notariales y Avalúo sin costo para el cliente).</p>
<p>Banco Nacional de México, S.A., integrante del Grupo Financiero Banamex.</p>
<p>Sujeto a análisis de crédito. La tasa y el enganche dependen del producto elegido y el historial crediticio.</p>
<p>Costo Anual Total (CAT) Promedio 10.2% sin IVA. Aplica para Adquisición y Cambia tu Hipoteca. Informativo. Calculado en Agosto 2015 con una tasa fija de interés anual de 8.25%, un financiamiento del 60% del valor de avalúo del inmueble y sin comisión por apertura de crédito, oferta vigente al 31 de diciembre del 2015. Comisiones y requisitos de contratación en www.banamex.com. Sujeto a autorización de crédito. Banco Nacional de México, S.A., integrante del Grupo Financiero Banamex.</p>
<p>Consulta beneficios adicionales en www.banamex.com/hipotecario.</p>
<p>Es tu derecho solicitar la oferta vinculante para comparar distintas opciones de crédito. 
Publicidad emitida el 27 de Agosto del 2015.    </p>
  </aside>  
</div>