<div class="currency-container prestige-container anim-fade">
  <article class="gold-description">
    <h1>Tarjeta de Crédito Citi Prestige<sup>SM</sup></h1>
    <p>Viva las mejores experiencias en cualquier parte del mundo, ya que le da acceso global a beneficios como:</p>
  </article>
  <article class="currency-info anim-left">
    
    
    <h2>• Citi Prestige SM Rewards</h2>
    
    <p>El programa de recompensas que además de darle 1.5 puntos por cada USD de compra, le brinda hasta 45% de puntos extra por sus inversiones Banamex Banca Patrimonial (esquema Relationship Bonus).</p> 

    <h2>• Citi Prestige<sup>SM</sup> Concierge</h2>
    
    <p>Trabaja para usted en cualquier lugar del mundo y a cualquier hora, para cumplir el más sofisticado de sus deseos.</p> 

    <h2>• Citi Prestige<sup>SM</sup> Travel</h2>
    
    <p>Bonifica su cuarta noche de hospedaje en hoteles selectos, le brinda descuentos en aerolíneas, guías de viajes personalizadas, entre otras cosas.</p> 

       
    <p>• Hasta 3 Green Fees sin costo al año, en más de 2,400 campos de golf alrededor del mundo.</p>  

    <h2>Solicítela a su Banquero.</h2>

  </article>   
  <aside class="legal-bottom">
    <button id="prestige-btn" class="legals-btn dark">Legales</button>
  </aside>
  <aside id="prestige-info" class="diversification-market-info">
    <button class="close-btn"><img src="images/close-small-btn.png" alt="Cerrar" /></button>
    <p>Citi Prestige® es una marca registrada propiedad de Citigroup Inc., usada bajo licencia por el Banco Nacional de México, S.A., integrante del Grupo Financiero Banamex y Tarjetas Banamex, S.A. de C.V., SOFOM., E.R. el uso no autorizado de dicha marca está prohibido.</p>
<p>COSTO ANUAL TOTAL (CAT) PROMEDIO 26.6% sin IVA. Tasa de interés promedio ponderada anual 14.5%. Comisión anual $5,500 M.N. sin IVA. Tasa variable. Para fines informativos y de comparación. Calculado el 04 de noviembre de 2015. Publicidad y producto ofrecidos por Tarjetas Banamex, S.A. de C.V., SOFOM., E.R. Integrante del Grupo Financiero Banamex. Consulte términos, condiciones, comisiones y requisitos de contratación en www.banamex.com. Para cualquier información contáctanos en Sucursales Banamex (Banco Nacional de México, S.A.).</p>
<p>
Banamex, S.A. de C.V., SOFOM., E.R. (Tarjetas Banamex) Integrante del Grupo Financiero Banamex y Banco Nacional de México, S.A. (Banamex) no adquieren ningún tipo de obligación en cuanto a la calidad, tarifas y cumplimiento de los bienes o servicios ofrecidos por las empresas participantes en la promoción.</p>
                                                                                                           
  </aside>
</div>