<div id="insurance-swipecontainer" class="swipecontainer ">
  <ul class="swipeul">
<li class="currency-container insuranceh-container anim-fade dragend-page">
  <article class="gold-description">
    <h1>Seguro de Hogar</h1>
    <p>Proteja su hogar de imprevistos como:</p>
  </article>
  <article class="currency-info anim-left">
    <ul class="globala-details">
      <li>Robo, inundación, incendio y sismo.</li>
      <li>Descargas eléctricas a equipo electrónico o electrodoméstico.</li>
      <li>Cristales afectados incluyendo el costo de instalación.</li>
      <li>Daños que usted o su familia ocasionen a vecinos o terceros.</li>
      <li>Asistencia de especialistas en plomería, cerrajería y electricidad.</li>
      <li>Protección para su empleado doméstico en caso de sufrir algún accidente en el desempeño de sus labores.</li>
    </ul>
    <p>Bonificamos el 12º mes de su póliza.</p>  
    <p class="margined-top">Solicítelo a 6 ó 12 meses sin intereses con Tarjetas de Crédito Banamex.</p>
  </article>
   <aside class="legal-bottom insuranceh-legals">
    <button id="insuranceh-btn" class="legals-btn dark">Legales</button>
  </aside>
  <aside id="insuranceh-info" class="diversification-market-info">
    <button class="close-btn"><img src="images/close-small-btn.png" alt="Cerrar" /></button>
    <p>Aplican condiciones y exclusiones de la póliza contratada.</p>
    <p>Vigencia al 31 de diciembre de 2016.</p>
    <p>1. Cobertura de terremoto y erupción volcánica de contratación opcional y con costo adicional.</p>
    <p>2. La bonificación aplica sólo con pago anual del seguro.</p>
    <p>3. Aplica en pago anual. Costo Anual Total (CAT) para la promoción a meses sin intereses: 0% informativo.</p>
    <p>Servicios ofrecidos por Seguros Banamex.</p>
  </aside>
  
</li>
<li class="currency-container insuranceh-container insurancec anim-fade dragend-page">
  <article class="gold-description">
    <h1>Seguro de Auto</h1>
    <p>Proteja su auto en caso de robo total, accidentes, pérdidas o daños materiales a terceros, con cobertura de gastos médicos a ocupantes y atractivos beneficios:</p>
  </article>
  <article class="currency-info anim-left">
    <ul class="globala-details">
      <li>0% de deducible por robo total.</li>
      <li>Reparación en agencia y pago a valor factura en caso de robo o pérdida.</li>
      <li>Responsabilidad civil y legal hasta $325,250,000 pesos.</li>
      <li>Localización satelital por medio de un dispositivo instalado.</li>
      <li>Asistencia vial5 para cambio de llanta, gasolina, pase de corriente y más.</li>
      
    </ul>
    <h2>Bonificación en la renovación o contratación de su póliza si no se cumplen los tiempos en:</h2>
    <ul class="globala-details">
      <li>Arribo del ajustador al lugar del accidente.</li>
      <li>Valuación del siniestro.</li>
      <li>Reparación del daño.</li>
      <li>Auto sustituto durante 15 días sin costo.</li>
      <li>Certificación de $500 pesos para la compra de un nuevo seguro o la renovación de su póliza.</li>
    </ul>
    <p><strong>Cubrimos desde lo más común, hasta lo que no imaginaba.</strong><br />Solicítelo a 6 ó 12 meses sin intereses con Tarjetas de Crédito Banamex.</p>
  </article>
   <aside class="legal-bottom insurancec-legals">
    <button id="insurancec-btn" class="legals-btn dark">Legales</button>
  </aside>
  <aside id="insurancec-info" class="diversification-market-info">
    <button class="close-btn"><img src="images/close-small-btn.png" alt="Cerrar" /></button>
    <p>Aplican condiciones y exclusiones de la póliza contratada.</p>
    <p>Vigencia al 31 de diciembre de 2016.</p>
    <p>1. Cobertura de terremoto y erupción volcánica de contratación opcional y con costo adicional.</p>
    <p>2. La bonificación aplica sólo con pago anual del seguro.</p>
    <p>3. Aplica en pago anual. Costo Anual Total (CAT) para la promoción a meses sin intereses: 0% informativo.</p>
    <p>Servicios ofrecidos por Seguros Banamex.</p>
  </aside>
  
</li>
</ul>
</div>
<nav id="insurance-dotnav" class="dot-nav">
        <a href="#" class="dot-button dot-1 selected">•</a><a href="#" class="dot-button dot-2">•</a>
      </nav>