<footer id="main-footer" class="main-footer">
  <nav class="main-nav">
    <ul>
      <li><a href="1_nuestra-propuesta.html" data-origin="home.html">Nuestra Propuesta</a></li><li>
      <a href="2_portafolios-gold.html" data-origin="home.html">Portafolios Gold+</a></li><li>
      <a href="3_beneficios.html" data-origin="home.html">Beneficios</a></li><li>
      <a href="4_productos-bancarios.html" data-origin="home.html">Productos Bancarios</a></li><li>
      <a class="special-link-1" target="_blank" href="https://www.banamex.com/analisis/">Análisis Banamex</a></li><li>
      <a class="special-link-2" target="_blank" href="https://bancanet.banamex.com/MXGCB/JPS/portal/Index.do"><strong>Banca</strong>Net</a></li>
    </ul>
  </nav>
</footer>