<a class="home-block-link our-proposal anim-left" href="1_nuestra-propuesta.html">
	<div class="link-content">
		<h2>Nuestra propuesta</h2>
		<p>En Grupo Financiero Banamex buscamos crear soluciones para el manejo de su patrimonio, con personal altamente calificado, en un ambiente de discreción y transparencia.</p>
	    <span class="block-label">Ver propuesta</span>
	</div>
  </a><a class="home-block-link gold-portfolios anim-right" href="2_portafolios-gold.html">
  	<div class="link-content">
		<h2>Portafolios Gold+</h2>
		<p>Invierta en una estrategia diversificada, buscando oportunidades en el mercado.</p>
	    <span class="block-label">Portafolios Gold+</span>
	</div>
  </a><a class="home-block-link benefits anim-left" href="3_beneficios.html">
    <div class="link-content">
		<p>Servicios exclusivos y experiencias únicas reservadas para usted.</p>
    	<span class="block-label">Beneficios</span>
    </div>
</a><a class="home-block-link products anim-left" href="4_productos-bancarios.html">
 	<div class="link-content">
		<p>Conozca las soluciones bancarias que más se adapten a sus necesidades.</p>
    	<span class="block-label ">Productos bancarios</span>
    </div>
</a><a class="home-block-link car anim-right" href="5_campana-video.html"></a>

