<div class="lpatrimonial-container anim-fade">
  <article class="ourproposal-intro">
    <h1>Línea Patrimonial</h1>
    <p>Una línea de atención dedicada y exclusiva para atender sus necesidades de trámites  y servicios, de una manera sencilla y sin contratiempos, los 7 días de la semana, las 24 horas.</p>
  </article>
  <ul class="services">
    <li class="services-attention anim-left">Atención preferente y solución de aclaraciones
    </li><li class="services-net anim-left">Asesoría y apoyo de Banca Net
    </li><li class="services-netkey anim-right">Entrega y reposición de Netkey
    </li><li class="services-papers anim-right">Solicitud de Estados de Cuenta de cheques y Tarjetas de Crédito</li>
  </ul>
  <ul class="services-contact-info">
    <li class="big-indication">Podrás llamar desde </li>
    <li>Cd. de México 2226 3680</li>
    <li>Cualquier parte del país  01 800 827 8000</li>
    <li>E.U.A. y Canadá  1 877 338 3861</li>
  </ul>
</div>